In [8]:
# my results will be a bit different, because I'm not reusing the notebook from ex_1.01

from sklearn.preprocessing import LabelEncoder
import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
head_size = 5

x = tips.drop('tip', axis=1)
x.head(head_size)

   total_bill     sex smoker  day    time  size
0       16.99  Female     No  Sun  Dinner     2
1       10.34    Male     No  Sun  Dinner     3
2       21.01    Male     No  Sun  Dinner     3
3       23.68    Male     No  Sun  Dinner     2
4       24.59  Female     No  Sun  Dinner     4

In [9]:
enc = LabelEncoder()
tips['sex'] = enc.fit_transform(tips['sex'].astype('str'))
tips['smoker'] = enc.fit_transform(tips['smoker'].astype('str'))
tips['day'] = enc.fit_transform(tips['day'].astype('str'))
tips['time'] = enc.fit_transform(tips['time'].astype('str'))

In [10]:
tips.head(head_size)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4